
#background {
    background: olive;
    border: 4px solid #005599;
    width: 90%;
    height: 90%;
}

.scoreboard #P2  {
    padding: 10px;
    display: inline-block;
    border: 5px solid black;
    background-color: #aa0055;
    font-family: 'Press Start 2P', cursive;
    float: right;

}

.scoreboard #P1  {
    padding: 10px;
    display: inline-block;
    border: 5px solid black;
    background-color: #aa0055;
    font-family: 'Press Start 2P', cursive;

}
